<h3>Top Photos</h3>
<div class="album-box">
  <a *ngFor="let photo of photos" routerLink="/detail/{{photo.id}}">
    <div class="photo-item">
      <h4>{{photo.title | slice:0:5}}</h4>
    </div>
  </a>
</div>

<div class="album-box">
  <a *ngFor="let photo of photos" routerLink="/detail/{{photo.id}}">
  <div class="photo-item">
    <img src="{{photo.thumbnailUrl}}" class="photo">
  </div>
  </a>
</div>

<div class="photo-box">
  <a *ngFor="let photo of albumPhotos" routerLink="/detail/{{photo.id}}">
  <div class="photo-item">
    <img src="{{photo.thumbnailUrl}}" class="photo">
  </div>
  </a>
</div>